body {margin: 0; padding:0; font-family: sans-serif; font-size: 16px;}

#page {margin: 0.5em;}

form {margin-bottom: 1em;}
form #tn {
  padding: 5px;
  padding-right: 2.5em;
  width: 100%;
  font-size: 1.35em;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:        border-box;
}


#list,
#navbar  { list-style-type: none; margin: 0.4em 0 1em 0; padding: 0; }

#navbar {float:right;}
#navbar li {
  display: inline;
}

#navbar .active span {
  font-weight: bold;
}




#list .entry {
 padding: 0.6em;
 border-top: solid 1px #ddd;
}
#list .entry:last-child {
 border-bottom: solid 1px #ddd;
}


#list .entry.completed .text {
  text-decoration: line-through;
  color: #9F9F9F;
}

#list .entry .text:hover,
#list .entry .checkbox:hover {
  cursor: pointer;
}   
#list .entry .checkbox {
  float: right;
  height: 15px;
  width: 15px;
  background: #FFFFFF;
  border: solid 1px #ccc;
}  
#list .entry .checkbox img {
  display: none;
  position: relative;
  top: -6px;
  left: -4px;
  height: 24px; /* @2x */
  width: 24px; /* @2x */
}   
#list .entry.completed .checkbox img {
  display: inline;
}



#list .entry .more {
  padding: 1em 0.6em 0.6em 0.6em;
  display: none;
  clear: both;
}
#list .entry .more div {
  margin-bottom: 0.5em;
}
#list .entry .more .right {
  float: right;
}

#list .entry.expand .more {
  display: block;
}


#list .entry .more .lk {
  color: blue;
  text-decoration: underline;
  margin-right: 0.5em; 
}
#list .entry .more .lk:hover {
  cursor: pointer;
}


#list .entry.new {
  background-color: #FFFFDC;
}

#list .entry.high,
#list .entry.normal,
#list .entry.low {
  border-left: solid 3px;
}
#list .entry.high { border-left-color: #DD3B3B; }
#list .entry.normal { border-left-color: #428042; }
#list .entry.low { border-left-color: #ccc; }



#options {
  text-align: right;  
}
#options #refresh {
  cursor: pointer;
  height: 16px; /* @2x */
  width: 16px; /* @2x */
}    